{% extends "bootstrap_5_layout.html" %}
{% set active_page = "by-drug-device" %}

{% block content %}
    <h1>FDA Search</h1>
    <form action="/search/drug" method="get">
        <input type="text" name="drug_name" placeholder="Enter drug name">
        <button type="submit">Search Drug</button>
    </form>

    <form action="/search/device" method="get">
        <input type="text" name="company_name" placeholder="Enter company name">
        <input type="text" name="keyword" placeholder="Enter keyword">
        <button type="submit">Search Device</button>
    </form>
    
{% endblock %}
