{% extends "bootstrap_5_layout.html" %}
{% set active_page = "device-recalls-pma" %}

{% block content %}
    <h1>Search for Premarket Medical Device Approvals and Recalls</h1>
    <form action="/search_device" method="get">
        <input type="hidden" name="search_type" value="device">
        <input type="text" name="search_term" placeholder="Enter device name">
        <button type="submit">Search Device</button>
    </form>
    <form action="/search_device" method="get">
        <input type="hidden" name="search_type" value="company">
        <input type="text" name="search_term" placeholder="Enter company name">
        <button type="submit">Search Company</button>
    </form>
{% endblock %}
